body {
    background-color: aqua;
}

.container {
    margin: 150px auto;
    width: 380px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
}

button {
    width: 90px;
    height: 80px;
    background: white;
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}